.mains
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sections
{
    height: 85%;
    width: 90%;
    border: 1px solid rgb(210, 204, 204);
    border-radius: 6px;
}
 /* .element.style::-webkit-scrollbar {
    width: 5px;
    border-radius: 6px;
    background-color: #efeaea;
  }
  
  .element.style::-webkit-scrollbar-thumb {
    height: 1px;
    border-radius: 1px;
    background-color: #68656c;
  } */
  /* .tables
  {
    
  } */

  /* description over flow */
   .ant-table-cell
  {
    /* overflow-y: scroll !important;
    height: 10px; */
    text-overflow: ellipsis;
  }
/*
  .ant-table-cell::-webkit-scrollbar {
    width: 2px;
    border-radius: 3px;
    background-color: #efeaea;
  }
  
  .ant-table-cell::-webkit-scrollbar-thumb {
    height: 1px;
    border-radius: 1px;
    background-color: #68656c;
  }  */
    
  .btn
  {

    position: relative;
    top: -43px;
    color: white;
  }